.timerHead {
  width: 100%;
  height: 55px;
  padding: 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--greyC4);
  color: #fff;
}

.backgroundColorRed {
  background-color: var(--red);
}

.backgroundColorGreen {
  background-color: var(--green);
}

.colorBorderRed {
  color: var(--red);
  outline-color: var(--red);
}

.colorGreen {
  color: var(--green);
}

.timerHead_span {
  vertical-align: center;

  width: 250px;
  max-height: 36px;
  font-weight: 700;
  overflow: hidden;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  background-color: var(--greyF4);
}

.timeBlock {
  display: flex;
  align-items: center;
}

.time {
  min-width: 375px;
  font-size: 150px;
  line-height: 179px;
  font-weight: 200;
  margin-right: 25px;
  text-align: end;
}

.plusBtn:hover circle {
  fill: var(--dark-green);
}

.btnMenu {
  position: relative;
}

.btnStart {
  padding: 19px 51px;
  text-align: center;
  color: #fff;
  background-color: var(--green);

  line-height: 17px;
  margin-right: 25px;
}

.btnStart:hover {
  background-color: var(--dark-green);
}

.btnStop {
  padding: 19px 51px;
  text-align: center;
  background-color: inherit;
  color: var(--greyC4);
  outline: 1px solid var(--greyC4);
}

.btnStop:hover {
  background-color: var(--red);
  color: #fff;
  outline: none;
}

.btnStopRed {
  color: var(--red);
  outline-color: var(--red);
}
